@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-03-07 12:13:37
 * @version $Id$
 */
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
body{
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
	font-size: 14px;
 	color: #393939;
 	overflow-x: hidden;
 	overflow-y: auto;
}
#header{
	width: 100%;
}
#header-m{
	max-width: 1000px;
	margin: 0px auto;
	height: 100px;
}
#bars{
	width: 100%;
	background-color: #6f2322;
}
.bars-xf{
	position: fixed;
	top: 0px;
	z-index: 100;
}
#bars-box{
	max-width: 1000px;
	margin: 0px auto;
}
#bars-box:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.bars-list{
	display: inline-block;
	float: left;
	height: 53px;
	width: 100px;
	text-align: center;

}
.bars-list a{
	color: #fff;
	line-height: 53px;
	text-decoration: none;
	display: block;
}
.bars-list a:hover{
	background-color: #640000;
	background-image: url("../img/bars.png");
	background-repeat: no-repeat;
}
.bars-list-a1{
	background-color: #640000;
	background-image: url("../img/bars.png");
	background-repeat: no-repeat;
}
#banner{
	height: 400px;
	width: 100%;
}
#banner img{
	width: 100%;
	height: 100%;
}
.title{
	background-image: url('../img/title.png');
	background-repeat: no-repeat;
	height: 53px;
	max-width: 1000px;
	margin: 20px auto 0px;
	color: #fff;
	line-height: 53px;
	padding: 0px 30px;
}
.title h2{
	font-size: 24px;
	float: left;
}
.title span{
	font-size: 24px;
	float: right;
	background-image: url('../img/tel.png');
	background-repeat: no-repeat;
	background-position: 0% 50%;
	padding-left: 50px;
}
.title .mfzx{
	float: right;
}
.con{
	max-width: 1000px;
	margin: 0px auto;
	padding: 15px;
	border: solid 1px #B87070;
}
.con:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.con-myjs-left{
	/*display: table-cell;*/
	width: 368px;
	float: left;
}
.con-myjs-left-img{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.con-myjs-left img{
	vertical-align: middle;
}
.con-myjs-rigth{
	float: left;
	padding-left: 20px;
	max-width: 592px;
}
.con-myjs-rigth-top{
	margin: 20px 0px;
	padding-left: 20px;
}
.con-myjs-rigth-con{
	word-break: break-all;
	overflow: hidden;
	font-size: 16px;
}

.con-bqfl-top-list{
	display: inline-block;
	float: left;
}
.con-bqfl-top a{
	display: inline-block;
	float: left;
	margin: 0px 0px 0px 15px;
	color: #393939;
}
.con-bqfl-top a:hover{
	color: #6f2322;
}
.con-bqfl-bottom-list{
	display: block;
	width: 
}

#footer{
	background-image: url('../img/footer.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 300px;
	margin-top: 20px;
}