@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-03-07 12:13:37
 * @version $Id$
 */
*{
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
}
body{
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
	font-size: 14px;
 	color: #393939;
 	overflow-x: hidden;
 	overflow-y: auto;
     -webkit-overflow-scrolling:touch;
}
#header{
	width: 100%;
	height: 100px;
}
#header-m{
	max-width: 1000px;
	margin: 0px auto;
	height: 100px;
}
#bars{
	width: 100%;
	background-color: #6f2322;
}
.bars-xf{
	position: fixed;
	top: 0px;
	z-index: 100;
}
#bars-box{
	max-width: 1000px;
	margin: 0px auto;
}
#bars-box:after,.con-bqfl-top:after,.con-bqfl-bottom:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.bars-list{
	display: inline-block;
	float: left;
	height: 53px;
	width: 100px;
	text-align: center;
    margin-right: 20px;
}
.bars-list a{
	color: #fff;
	line-height: 53px;
	text-decoration: none;
	display: block;
    font-size: 16px;
}
.bars-list a:hover{
	background-color: #640000;
	background-image: url("../img/bars.png");
	background-repeat: no-repeat;
}
.bars-list-a1{
	background-color: #640000;
	background-image: url("../img/bars.png");
	background-repeat: no-repeat;
}
#banner{
	/*height: 400px;*/
	width: 100%;
    position: relative;
    overflow: hidden;
}
#banner ul{
    list-style:none;
}
.slideBox .hd{ height:15px; overflow:hidden; position:absolute; bottom:15px; z-index:1; text-align: center;width: 100%;}
.slideBox .hd ul{ overflow:hidden; zoom:1; margin: 0 auto; width: 100px;}
.slideBox .hd ul li{ float:left; margin-right:5px; margin-left: 5px;  width:15px; height:15px; line-height:14px; text-align:center; background:#fff; cursor:pointer;border-radius: 8px;text-indent: -9999px;}
.slideBox .hd ul li.on{ background:#6f2322; color:#fff; }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle;text-align: center; }
.slideBox .bd img{height:100%; display:block; border: 0;margin: 0 auto;width: 100%;}
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../img/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.title{
	background-image: url('../img/title.png');
	background-repeat: no-repeat;
	height: 53px;
	max-width: 1000px;
	margin: 20px auto 0px;
	color: #fff;
	line-height: 53px;
	padding: 0px 30px;
}
.title h2{
	font-size: 24px;
	float: left;
}
.title .title_tel{
	font-size: 24px;
	/*float: right;*/
	/*background-image: url('../img/tel.png');*/
	/*background-repeat: no-repeat;*/
	/*background-position: 0% 50%;*/
	/*padding-left: 50px;*/
    color: #fff;
    text-decoration: none;
}
.title .mfzx{
	/*float: right;*/
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    border-bottom: solid 2px #fff;
    line-height: 30px;
}
.title .fa{
    /*float: right;*/
    margin-right: 10px;
    font-size: 24px;
}
.title_r_img{
    float: right;
    /*margin-top: 2px;*/
}
.con{
	max-width: 1000px;
	margin: 0px auto;
	padding: 15px;
	border: solid 1px #B87070;
	position: relative;
}
.con:after{
	content: "";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}
.con-myjs-left{
	/*display: table-cell;*/
	width: 368px;
	float: left;
}
.con-myjs-left-img{
	/*display: table-cell;
	vertical-align: middle;*/
	width: 100%;
}
.con-myjs-left img{
	vertical-align: middle;
}
.con-myjs-rigth{
	float: left;
	padding-left: 20px;
	max-width: 592px;
}
.con-myjs-rigth-top{
	margin: 20px 0px;
	padding-left: 20px;
}
.con-myjs-rigth-con{
	word-break: break-all;
	overflow: hidden;
	font-size: 16px;
}

.con-bqfl-top-list{
	display: inline-block;
	float: left;
}
.con-bqfl-top a{
	display: inline-block;
	float: left;
	margin: 0px 0px 0px 15px;
	color: #393939;
}
.con-bqfl-top a:hover{
	color: #6f2322;
}
.con-bqfl-bottom{
	/*padding-top: 20px;*/
	margin-right: -30px;
}
.con-bqfl-bottom-list{
	width: 300px;
	display: block;
	float: left;
	margin-right: 30px;
	margin-top: 20px;
	border: solid 1px #DFDFDF;
	padding: 5px;
	box-shadow: 8px 8px 0px #E0E0E0;
}
.con-bqfl-bottom-list-img{
	width: 100%;
	/*display: table-cell;*/
	vertical-align: middle;
	height: 150px;
	overflow: hidden;
    text-align: center;
}
.con-bqfl-bottom-list-con{
	width: 100%;
	word-break: break-all;
	overflow: hidden;
	background-color: #F5F5F5;
	padding: 0px 20px;
	color: #6f2322;
}
.bqfl-list-con-title{
	font-size: 20px;
	text-align: center;
	padding: 15px 0px;
}
.bqfl-list-con-nr{
	padding-bottom: 15px;
}
.cgal-w{
	width: 960px;
	position: relative;
	overflow: hidden;
	height: 180px;
}
.cgal-con{
	position: absolute;
	width: 2000px;
	height: 180px;
	/*z-index: -100;*/
}

.picMarquee-left{ width:100%;  overflow:hidden; position:relative;}
.picMarquee-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picMarquee-left .hd .next{ background-position:0 -50px;  }
.picMarquee-left .hd .prevStop{ background-position:-60px 0; }
.picMarquee-left .hd .nextStop{ background-position:-60px -50px; }
.picMarquee-left .bd{ }
.picMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.picMarquee-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picMarquee-left .bd ul li .pic{ text-align:center; }
.picMarquee-left .bd ul li .pic img{ }
.picMarquee-left .bd ul li .pic a:hover img{ }
.picMarquee-left .bd ul li .title{ line-height:24px;   }

#footer{
	background-image: url('../img/footer.jpg');
	background-repeat: repeat-x;
	width: 100%;
	height: 300px;
	margin-top: 20px;
}

#leftgn{
    display: none;
    position: fixed;
    right: 10px;
    border: solid 1px #6f2322;
    padding: 10px;
    top: 25%;
    overflow: hidden;
    background-color: #fff;
    z-index: 1000;
}

#leftgn_top{
    width: 150px;
    border: solid 1px #DFDFDF;
}

#leftgn_top img{
    vertical-align: middle;
    width: 100%;
    border: 0;
}

#leftgn_cen{
    width: 150px;
}

.leftgn_cen_list{
    margin: 10px 0;
}
.leftgn_cen_list a{
    display: block;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
}


.ys1{
    background-color: #CC6600;
}

.ys2{
    background-color: #6f2322;
}

.ys3{
    background-color: #f4a460;
}

.leftgn_rx{
    font-size: 16px;
    text-align: center;
}

.leftgn_dh{
    font-size: 18px;
    color: #CC0000;
    text-align: center;
    font-weight: bold;
}

.leftgn_cen_list .fa{
    /*font-size: 20px;*/
    margin-right: 5px;
}

.leftgn_rx .fa{
    /*font-size: 20px;*/
    margin-right: 5px;
}
#phone_gn{
    display: none;
}
#leftgn_close{
    position: absolute;
    padding: 0 5px;
    right: -4px;
    top: -6px;
    color: #640000;
}
#leftgn_close:hover{
    cursor: pointer;
    color: #6f2322;
}
#leftgn_h{
    position: fixed;
    right: 10px;
    border: solid 1px #640000;
    padding: 5px;
    top: 25%;
    overflow: hidden;
    background-color: #CC6600;
    color: #fff;
    font-size: 24px;
    z-index: 1000;
    width: 36px;
    display: none;
}

#leftgn_h .fa{
    font-size: 30px;
}

#leftgn_h:hover{
    cursor: pointer;
}

@media (max-width:414px){
    .slideBox .hd ul{
        width: 80px;
    }
    .slideBox .hd ul li{
        width: 10px;
        height: 10px;
    }
    .slideBox .hd{
        bottom: 3px;
    }
    .title .title_tel{
        font-size: 18px;
        /*padding-left: 40px;*/
    }
    .title .mfzx{
        font-size: 18px;
    }
    .title .fa{
        font-size: 18px;
    }
    .title{
        padding: 0 20px;

    }
    .title h2{
        font-size: 18px;
    }
    .con-myjs-rigth{
        padding: 0px;
    }
    .con-myjs-left{
        width: 100%;
    }
    .con-myjs-left-img{
        text-align: center;
    }
    .con-myjs-rigth-top{
        padding: 0;
        text-align: center;
    }
    .con-bqfl-bottom{
        margin-right: 0;
    }
    #leftgn{
        display: none;
        position: relative;
    }
    #leftgn_h{
        display: none;
    }
    #phone_gn{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 1000;
        background-color: #fff;
        /*border-top: solid 1px #B87070;*/
    }
    #phone_gn::after{
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
    .leftgn_cen_list{
        width: 50%;
        display: inline-block;
        margin: 0;
        float: left;
    }
    .leftgn_cen_list a{
        width: 100%;
        margin: 0;
        padding: 15px 20px;
        float: left;
    }
    #footer{
        margin-bottom: 54px;
    }
}

@media (min-width:376px) and (max-width:414px){
    .bars-list{
        margin: 0 19px;
    }
}

@media (min-width:321px) and (max-width:375px){
    .bars-list{
        margin: 0 12px;
    }
}

@media (max-width:320px){
    .bars-list{
        margin: 0 3px;
    }
}